# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
Obj/*
Exe/*
Linker/*
ds18x20_v2.hci
List/WiFlyDevice.asm
List/WiFlyDevice.lst
List/WiFlyDevice.map
WiFlyDevice.prj~
WiFlyDevice.c~
WiFlyDevice.cbi
WiFlyDevice.cci
WiFlyDevice.cof
WiFlyDevice.fct
